@use 'colors' as *;

@font-face {
  font-family: "Blue-Vinyl-Regular";
  src: url("fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf") format("otf"),
    url("fonts/fontspring-demo-blue_vinyl_regular_ps_ot-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.toolbar {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2em;
  font-family: "Blue-Vinyl-Regular";
}

.logo-btn {
  border-width: 0px;
  box-shadow: none;
}

.search-btn {
  .anticon-search {
    font-size: 20px;
  }
}

.likes-btn {
  .anticon-heart {
    font-size: 20px;
    // bottom: 8px;
  }
}

.account-btn {
  .anticon-user {
    font-size: 20px;
  }
}

.settings-btn {
  .anticon-setting {
    font-size: 20px;
  }
}

.title-link,
.title-link:hover,
.title-link::selection {
  color: $text-black;
}
