@use 'colors' as *;

.search {
  background-color: white;
  padding-left: 5%;
  width: 90%;

  .ant-tabs-tab:hover {
    color: $purple;
  }

  .ant-tabs-ink-bar {
    background: $purple;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $purple;
  }
}
